@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "CreateDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateDashBoard</h1>
<h4>Welcome @Context.Session.GetString("Name").ToString()</h4>



